{% extends 'base.html.twig' %}

{% block title %}Message list{% endblock %}

{% block body %}
<h1>Messages List</h1>

{% for item in messages %}
    <p>{{item.user.email}} : {{item.content}}</p>
{% endfor %}
{% endblock %}
